@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-primaria:#000000;
    --cor-secundaria:#f6f6f6;
    --cor-terciaria:#22D4FD;
    --cor-holver:#272727;

    --font-principal: 'Krona One',sans-serif;
    --font-secundaria:'Montserrat',sans-serif;
}


*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}
.cabecalho{
    padding: 2% 0% 0% 15%;
}
.cabecalho__menu{
    display: flex;
    gap: 60px;
}
.cabecalho__menu__link{
    font-family:var(--font-secundaria);
    font-size: 1,6rem;
    font-weight: 600;
    color: #22D4FD;
    text-decoration: none;
}

@media(max-width:640px) {
    .cabecalho__menu{
        gap:40px;
    }

}

.cabecalho__menu__link:hover{
    color:aqua;
}
.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:82px;
}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--font-principal);
}
.titulo-destaque{
    color: var(--cor-terciaria);
}
.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family:var(--font-secundaria);
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.apresentacao__links__subtitulo{
    font-family: var(--font-principal);
    font-weight: 400;
    font-size: 1.5rem; 
}
.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
}
.apresentacao__links__link:hover{
    background-color: var(--cor-holver);
}

.apresentacao__imagem{
    width: 50%;
}

.rodape{
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 15px;
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
    max-height: 8.125rem;
    display: flex;
    justify-content: space-between;
    
}

.footer__direita{
    display: flex;
    flex-direction: column;
    gap: 46px;
    padding-right: 0%;
}

.footer__referencia{
    display: flex;
    justify-content: right;
    font-size: 0.9rem;
}

.footer__iconsSociais{
    display: flex;
    align-items: center;
    gap:20px;
    padding-left: 10%;
}

.footer__menu{
    display: flex;
    gap: 80px;
    align-items: right;
}

.footer__menu__link{
    color: black;
    font-family:var(--font-secundaria);
    font-size: 1,2rem;
    font-weight: 600;
    text-decoration: none;
}

.footer__menu__link:hover{
    color: #272727;
}


@media (max-width: 1200px) {
    .cabecalho{
        padding: 10%;
    }

    .cabecalho__menu{
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    
    .apresentacao__conteudo{
        width: auto;
    }
}

@media (max-width: 1150px) {
    .footer__menu{
        flex-direction: column;
        gap:2px;
        padding:0%;
        margin-right:5px ;
    }
    .footer__referencia{
        display: none;
    }
}
@media (max-width: 540px) {
    .footer__iconsSociais__icone {
        margin-left: 0%;
       /* não consigo mudar o tamanho das imgs */
    }

    .footer__iconsSociais{
        display:flexbox;
        padding: 0%;
        gap:5px;
    }
    .footer__menu{
       font-size: 18px;
    
    }
   
}

/* -------------CSS DE PROJETOS------------ */

.projetos__apresentacao{
    padding: 5% 7%;
    display: flex;
    flex-direction: column;
    gap:50px;
}



.projetos__titulo{
    font-size: 2.25rem;
    font-family: var(--font-principal);
    display: flex;
    justify-content: left;
}

.projetos__divisoes{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    padding-top: 3%;
}

.projetos__divisoes__reverso{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    padding-top: 3%;
    flex-direction: row-reverse;
}



.projetos__apresentacao__conteudo{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width:45%;
}

.projetos__imagem{
    width: 55%;
    height: auto;
}

.projetos__imagem__imagem{
    width: 100%;
    height: 100%;
}

.projetos__apresentacao__conteudo__titulo{
    font-size: 1,5rem;
    font-family: var(--font-principal);
    display: flex;
    justify-content: left;
    color: var(--secundaria);
}

.projetos__apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family:var(--font-secundaria);
}

.conteudo__tecnologias{
    display: flex;
    gap: 20px;
    flex-direction: row;

}

.projetos__apresentacao__conteudo__tecnologias{
    font-size: 1.5rem;
    font-family:var(--font-secundaria);
    color: var(--cor-secundaria);  
    
}

@media (max-width: 1200px) {
    .projetos__divisoes{
        flex-direction: column-reverse;
        gap:15px;
    }
    .projetos__divisoes__reverso{
        flex-direction: column-reverse;
        gap:15px;
    }
    .projetos__apresentacao{
        padding: 5% 7%;
        gap:70px;
    }
    .projetos__imagem{
        width: 110%;
        height: auto;
    }

    .projetos__apresentacao__conteudo{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width:105%;

    }
}


/*-------------------- CSS de Contate-me ------------------*/

.contate-me__apresentacao {
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    gap: 50px;

}

#linhaInferior{
    justify-content: left;
    width: 49%;
    margin-bottom: -6.5%;
}

.contate-me__apresentacao_linhaSuperior {
    margin-top: -2%;
    margin-bottom: -1%;
}

.contate-me__titulo {
    font-size: 2.25rem;
    font-family: var(--font-principal);
    display: flex;
    justify-content: left;
}

.contate-me__divisoes {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    padding-top: 3%;
}

.contate-me__apresentacao__conteudo {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 45%;
}

.contate-me__imagem {
    width: 50%;
}

.contate-me__apresentacao__conteudo__nomes {
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.formulario__campos{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.formulario__opcao{
    display: flex;
    height: 34px;
    width: 100%;
    border-radius: 10px;
    font-size: 1.2rem;
    font-family: var(--font-secundaria);
    text-align: center;
}

#mensagem{
    height: 150px;
    width: 100%;
}

.fomulario__titulo{
    font-size:1.2rem;
    font-family:var(--font-principal) ;
}

/* Estilo do botão de envio */
button[type="submit"] {
    background-color: #1b86f9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    font-family: var(--font-principal);
    width: 25%;
    border-radius: 10px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}




@media(max-width:1150px){

    .contate-me__apresentacao__conteudo {
        display: flex;
        flex-direction: column;
        gap: 25px;
        width: 100%;
    }
    .contate-me__imagem{
        visibility: hidden;
        width: 0%; 
        display: none;
    }
    #linhaInferior{
        width: 50%;
    }
}